@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?opgf3g');
  src:  url('fonts/icomoon.eot?opgf3g#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?opgf3g') format('truetype'),
    url('fonts/icomoon.woff?opgf3g') format('woff'),
    url('fonts/icomoon.svg?opgf3g#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wepay:before {
  content: "\e900";
  color: #59b64c;
}
.icon-weChat:before {
  content: "\e901";
  color: #6c6;
}
.icon-wechart-share:before {
  content: "\e902";
  color: #6c6;
}
.icon-unselected:before {
  content: "\e903";
  color: #9fa3b0;
}
.icon-underline:before {
  content: "\e904";
  color: #fff;
}
.icon-time_out .path1:before {
  content: "\e905";
  color: rgb(34, 34, 34);
  opacity: 0.7;
}
.icon-time_out .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(227, 231, 237);
}
.icon-switching .path1:before {
  content: "\e907";
  color: none;
}
.icon-switching .path2:before {
  content: "\e908";
  margin-left: -1.4326171875em;
  color: rgb(0, 0, 0);
}
.icon-switching .path3:before {
  content: "\e909";
  margin-left: -1.4326171875em;
  color: rgb(255, 255, 255);
}
.icon-service:before {
  content: "\e90a";
  color: #61687c;
}
.icon-selfs .path1:before {
  content: "\e90b";
  color: rgb(255, 255, 255);
}
.icon-selfs .path2:before {
  content: "\e90c";
  margin-left: -1em;
  color: rgb(159, 163, 176);
  opacity: 0.7;
}
.icon-self .path1:before {
  content: "\e90d";
  color: rgb(255, 255, 255);
}
.icon-self .path2:before {
  content: "\e90e";
  margin-left: -1em;
  color: rgb(33, 140, 247);
  opacity: 0.7;
}
.icon-Selected:before {
  content: "\e90f";
  color: #218cf7;
}
.icon-return_w:before {
  content: "\e910";
  color: #fff;
}
.icon-prompt:before {
  content: "\e911";
  color: #61687c;
}
.icon-position:before {
  content: "\e912";
  color: #218cf7;
}
.icon-plus .path1:before {
  content: "\e913";
  color: rgb(227, 231, 237);
  opacity: 0.3;
}
.icon-plus .path2:before {
  content: "\e914";
  margin-left: -1em;
  color: rgb(159, 163, 176);
  opacity: 0.7;
}
.icon-payment:before {
  content: "\e915";
  color: #fff;
}
.icon-new15:before {
  content: "\e916";
  color: #9fa3b0;
}
.icon-new14 .path1:before {
  content: "\e917";
  color: rgb(248, 248, 248);
}
.icon-new14 .path2:before {
  content: "\e918";
  margin-left: -1em;
  color: rgb(198, 200, 209);
}
.icon-new14 .path3:before {
  content: "\e919";
  margin-left: -1em;
  color: rgb(198, 200, 209);
}
.icon-new13:before {
  content: "\e91a";
  color: #fff;
}
.icon-new12 .path1:before {
  content: "\e91b";
  color: rgb(251, 107, 56);
}
.icon-new12 .path2:before {
  content: "\e91c";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-new11:before {
  content: "\e91d";
  color: #9fa3b0;
}
.icon-new10 .path1:before {
  content: "\e91e";
  color: rgb(242, 243, 245);
}
.icon-new10 .path2:before {
  content: "\e91f";
  margin-left: -1em;
  color: rgb(217, 219, 223);
}
.icon-new9:before {
  content: "\e920";
  color: #fff;
}
.icon-new8 .path1:before {
  content: "\e921";
  color: rgb(241, 242, 244);
}
.icon-new8 .path2:before {
  content: "\e922";
  margin-left: -1em;
  color: rgb(181, 186, 196);
}
.icon-new7:before {
  content: "\e923";
  color: #fff;
}
.icon-new6:before {
  content: "\e924";
  color: #9fa3b0;
}
.icon-new5 .path1:before {
  content: "\e925";
  color: rgb(241, 242, 244);
}
.icon-new5 .path2:before {
  content: "\e926";
  margin-left: -1em;
  color: rgb(181, 186, 196);
}
.icon-new4:before {
  content: "\e927";
  color: #fff;
}
.icon-new3:before {
  content: "\e928";
  color: #fff;
}
.icon-new2:before {
  content: "\e929";
  color: #fff;
}
.icon-new1 .path1:before {
  content: "\e92a";
  color: rgb(255, 255, 255);
}
.icon-new1 .path2:before {
  content: "\e92b";
  margin-left: -1em;
  color: rgb(33, 140, 247);
}
.icon-new:before {
  content: "\e92c";
  color: #fff;
}
.icon-mores:before {
  content: "\e92d";
  color: #9fa3b0;
}
.icon-more:before {
  content: "\e92e";
  color: #9fa3b0;
}
.icon-logo .path1:before {
  content: "\e92f";
  color: rgb(0, 0, 0);
}
.icon-logo .path2:before {
  content: "\e930";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-logo .path3:before {
  content: "\e931";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-logo .path4:before {
  content: "\e932";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-line-left:before {
  content: "\e933";
  color: #61687c;
}
.icon-lesss .path1:before {
  content: "\e934";
  color: rgb(227, 231, 237);
  opacity: 0.3;
}
.icon-lesss .path2:before {
  content: "\e935";
  margin-left: -1em;
  color: rgb(159, 163, 176);
  opacity: 0.3;
}
.icon-less .path1:before {
  content: "\e936";
  color: rgb(227, 231, 237);
  opacity: 0.3;
}
.icon-less .path2:before {
  content: "\e937";
  margin-left: -1em;
  color: rgb(159, 163, 176);
  opacity: 0.7;
}
.icon-inbound:before {
  content: "\e938";
  color: #fff;
}
.icon-home:before {
  content: "\e939";
  color: #fff;
}
.icon-heart:before {
  content: "\e93a";
  color: #61687c;
}
.icon-heart-active:before {
  content: "\e93b";
  color: #f95858;
}
.icon-forwarding:before {
  content: "\e93c";
  color: #fefefe;
}
.icon-down:before {
  content: "\e93d";
  color: #fff;
}
.icon-delivery:before {
  content: "\e93e";
  color: #fff;
}
.icon-default:before {
  content: "\e93f";
  color: #fb6b38;
}
.icon-customer-service:before {
  content: "\e940";
}
.icon-connect .path1:before {
  content: "\e941";
  color: rgb(0, 0, 0);
}
.icon-connect .path2:before {
  content: "\e942";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-connect .path3:before {
  content: "\e943";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-connect .path4:before {
  content: "\e944";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-connect .path5:before {
  content: "\e945";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-connect .path6:before {
  content: "\e946";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-completed:before {
  content: "\e947";
  color: #fff;
}
.icon-close2:before {
  content: "\e948";
  color: #d8d8d8;
}
.icon-close .path1:before {
  content: "\e949";
  color: rgb(218, 218, 218);
}
.icon-close .path2:before {
  content: "\e94a";
  margin-left: -1em;
  color: rgb(216, 216, 216);
}
.icon-click_on_switching .path1:before {
  content: "\e94b";
  color: rgb(76, 217, 100);
}
.icon-click_on_switching .path2:before {
  content: "\e94c";
  margin-left: -1.4326171875em;
  color: rgb(0, 0, 0);
}
.icon-click_on_switching .path3:before {
  content: "\e94d";
  margin-left: -1.4326171875em;
  color: rgb(255, 255, 255);
}
.icon-attention:before {
  content: "\e94e";
  color: #fff;
}
.icon-alipay:before {
  content: "\e94f";
  color: #02abf0;
}
.icon-address:before {
  content: "\e950";
  color: #9fa3b0;
}
.icon-image .path1:before {
  content: "\e951";
  color: rgb(227, 231, 237);
}
.icon-image .path2:before {
  content: "\e952";
  margin-left: -1.3046875em;
  color: rgb(227, 231, 237);
}
.icon-image .path3:before {
  content: "\e953";
  margin-left: -1.3046875em;
  color: rgb(254, 254, 254);
}
.icon-image .path4:before {
  content: "\e954";
  margin-left: -1.3046875em;
  color: rgb(254, 254, 254);
}
