

/*
   共用变量
*/

//主题色
$themeColor:#218cf7;

//字体颜色
$fontColor1:#393a3f;
$fontColor2:#218cf7;
$fontColor3:#8e92a0;
$fontColor4:#fb6b38;
//字体大小
$fontSize:12px;
$fontSize14:14px;
$fontSize15:15px;
$fontSize16:16px;
$fontSize17:17px;
$fontSize18:18px;
$fontSize24:24px;

